@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-italic.woff2") format("woff2");
}
  
  @font-face {
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/firasans-700.woff2") format("woff2");
    font-display: swap;
  }
   
  html {
    height: 100%;
  }
  
  body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 16px; 
    line-height: 24px;
    margin: 0;
  }

  .wrapper {
    background-color: #FFFFFF;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0 auto;
    width: 1400px;
    background-color: #FFFFFF;
    color: #000000;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  .main-container {
    flex-grow: 1;
  }

  .content-container {
    margin: 0 113px 0 115px;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .reset-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

/* ------header------ */

.address-wrapper {
  display: flex;
  background-color: #F3F7F9;
  padding: 0 118px 0 117px;
}

.header-title {
  font-style: italic;
  font-weight: 400;
  font-size: 14px; 
  line-height: 18px;
  color: #EE3643;
  width: 518px;
  margin: 0 142px 0 0;
  padding: 14px 0 13px 0;
  box-sizing: border-box;
}

.contacts-office {
  margin-right: 27px;
  width: 285px;
}

.office-address {
  font-weight: 400;
  font-size: 14px; 
  font-style: normal;
  line-height: 18px;
  color: #32425C;
  margin: 0;
  padding: 12px 0 15px 0;
}

.contacts-phone {
  display: flex;
  margin-left: auto;
  width: 198px;
  justify-content: end;
  align-items: center;
}

.office-phone {
  position: relative;
  font-weight: 700;
  font-size: 16px; 
  line-height: 18px;
  letter-spacing: 2px;
  color: #293449;
  font-style: normal;
  text-decoration: none; 
  padding: 8px 0; 
}

.office-phone::before {
  position: absolute;
  content: url("../images/icones/phone.svg");
  left: -24px;
  top: 8px;
}

.office-phone:focus {
  outline: none;
}

.office-phone:focus {
  outline: 2px solid #000000;
  border-radius: 2px;
}

.for-users-wrapper {
  display: flex;
  padding: 0 112px 0 112px;
  background-color: #32425C;
}

.logo-link {
  position: absolute;
  outline: none;
}

.logo-image:focus {
  outline: 2px solid #000000;
  border-radius: 2px;
}

.search-form {
  position: relative;
  margin-left: 220px;
}

.search-field {
  position: relative;
  font-family: PT Sans, sans-serif;
  font-weight: 400;
  font-size: 16px; 
  line-height: 24px;
  width: 717px;
  padding: 10px 100px 11px 53px;
  border: none;
  outline: none;
}

.search-field::-webkit-input-placeholder {
  color: #FFFFFF;
}

.search-field {
  background-color: #32425C;
  transition-duration: 0.5s;
}

.search-field-change:focus-within {
  background-color: #F1F5F7;
}

.search-field-change:active .search-image {
  fill: #405069;
  opacity: 1;
}

.search-field:active .search-field-change:focus-within {
  background-color: #F1F5F7;
}

.search-field[type="search"]::-webkit-search-cancel-button {
  position: absolute;
  appearance: none;
  width: 12px;
  height: 12px;
  background-image: url("../images/icones/close.svg");
  right: 19px;
  cursor: pointer; 
}

.search-field:disabled,
.entry-field:disabled,
.password-field:disabled,
.field:disabled {
  background-color: #F1F5F7;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid #C5C5C5;
}

.search-image {
  position: absolute;
  fill: #FFFFFF;
  opacity: 30%;
  top: 12px;
  left: 20px;
}

.search-form:focus-within .search-image {
  fill: #405069;
  opacity: 1;
}

.search-form:focus-within .search-field {
  padding: 10px 200px 11px 65px;
}

.search-form:focus-within .search-field::-webkit-input-placeholder {
  color: #C5C5C5;
}

.form-active {
  display: none;
}

.navigation-user {
  position: relative;
  display: flex;
  width: 220px;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.navigation-item-user {
  display: flex;
}

.user-image {
  margin-right: 10px;
  order: -1;
}

.navigation-link-user {
  display: flex;
  font-weight: 700;
  font-size: 14px; 
  line-height: 18px;
  letter-spacing: 2px;
  color: #F1F5F7;
  text-decoration: none;  
  text-transform: uppercase;
  padding: 13px 6px;
  order: 0;
  outline: none;
}

.navigation-link-user:focus {
  outline: 2px solid #000000;
  border-radius: 2px;
}

.navigation-item-user-active {
  position: relative;
  display: flex;
  width: 213px;
  align-items: center;
  display: none;
}

.navigation-link-user-active {
  font-weight: 400;
  font-size: 16px; 
  line-height: 24px;
  color: #F1F5F7;
  text-decoration: none;
  margin: 0 7px 0 0;
}

.user-image-icon {
  margin-right: 8px;
}

.user-image-active {
  transform: rotate(180deg);
}

.inside-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.inside-link:focus {
  outline: 2px solid #000000;
  border-radius: 2px;
}

.inside-form {
  position: absolute;
  padding: 22px 53px 33px 31px;
  width: 276px;
  background-color: #FFFFFF;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  z-index: 1;
  top: 0;
  left: -143px;
  display: none;
}

.navigation-item-user-active:hover .inside-form {
  display: block;
}

.inside-form:focus-within {
  display: block;
}

.navigation-item-user-active:focus-within .inside-form {
  display: block;
}

.form-title-user {
  font-weight: 700;
  font-size: 24px; 
  line-height: 30px;
  margin: 0 0 35px 0;
  text-transform: uppercase;
}

.my-orders,
.personal {
  display: block;
  font-family: PT Sans, sans-serif;
  font-weight: 700;
  font-size: 14px; 
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #3D546F;
  padding-left: 4px;
  margin-bottom: 23px;
}

.exit-button {
  font-family: PT Sans, sans-serif;
  font-weight: 700;
  font-size: 14px; 
  line-height: 18px;
  letter-spacing: 2px;
  color: #32425C;
  background-color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px 9px 10px 8px;
  width: 145px;
  border-radius: 2px;
  border: 2px solid #63A63E; 
}

/* ------registration-form------ */

.registration-form {
  position: absolute;
  padding: 22px 29px 35px 31px;
  width: 300px;
  background-color: #FFFFFF;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  z-index: 1;
  top: 12px;
  left: -143px;
  display: none;
}

.navigation-item-user:hover .registration-form {
  display: block;
}

.registration-form:focus-within {
  display: block;
}

.navigation-item-user:focus-within .registration-form {
  display: block;
}

.form-title {
  font-weight: 700;
  font-size: 24px; 
  line-height: 30px;
  margin: 0 0 47px 0;
  text-transform: uppercase;
}

.button-close {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #DADADA;
  background-color: #FFFFFF;
  top: 16px;
  right: 16px;
}

.button-close::before {
  position: absolute;
  content: " ";
  width: 9px;
  height: 2px;
  background-color: #D9D9D9;
  transform: rotate(45deg);
  top: 7px;
  right: 3.5px;
}

.button-close::after {
  position: absolute;
  content: " ";
  width: 9px;
  height: 2px;
  background-color: #D9D9D9;
  transform: rotate(-45deg);
  top: 7px;
  right: 3.5px;
}

.login-form {
  margin: 0 0 7px 0;
}

.password-form {
  margin: 0 0 12px 0;
}

.entry-field,
.password-field {
  font-family: PT Sans, sans-serif;
  font-weight: 400;
  font-size: 16px; 
  line-height: 24px;
  width: 277px;
  padding: 6px 9px 8px 14px;
  border: 1px solid #C5C5C5;
  border-radius: 2px;
}

.entry-field::-webkit-input-placeholder,
.password-field::-webkit-input-placeholder {
  color: #000000;
}

.entry-field:hover,
.password-field:hover {
  border: 1px solid #63A63E;
}

.entry-field:focus,
.password-field:focus {
border: 1px solid #63A63E;
outline: 1px solid #FFBF47;
}

.activity-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: 0 0 38px 0;
  align-items: center;
}

.registration-form-checkbox {
  position: relative;
  font-family: PT Sans, sans-serif;
  font-weight: 400;
  font-size: 14px; 
  line-height: 18px;
  color: #000000;
  padding-left: 30px;
}

.forgot-password {
  font-weight: 400;
  font-size: 14px; 
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.control-label {
  margin-right: 25px;
}

.registration-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.entry-button {
  position: relative;
  font-family: PT Sans, sans-serif;
  font-weight: 700;
  font-size: 14px; 
  line-height: 18px;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-transform: uppercase;
  display: inline-block;
  width: 145px;
  background-color: #63A63E;
  padding: 10px 26px 10px 44px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 5px;
}

.entry-button:hover {
  background-color: #5FBB2D;
}

.entry-button:active {
  background-color: #518534;
}

.entry-button::before {
  position: absolute;
  content: url("../images/icones/enter.svg");
  left: 25px;
}

.registration-button {
  font-family: PT Sans, sans-serif;
  font-weight: 700;
  font-size: 14px; 
  line-height: 18px;
  letter-spacing: 2px;
  color: #32425C;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px 9px 10px 8px;
  width: 124px;
  border-radius: 2px;
  border: 2px solid #63A63E;
}

.registration-button:hover {
  border: 2px solid #3D546F;
}

.registration-button:active {
  color: #C5C5C5;
  border: 2px solid #C5C5C5;
} 

.navigation-wrapper {
  display: flex;
  padding: 0 116px 0 93px;
  background-color: #3D546F;
  margin-bottom: 48px;
}

.navigation-main {
  display: flex;
  width: 859px;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-link {
  display:inline-block;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none; 
  padding: 20px 24px 26px 26px; 
}

.navigation-link:focus {
  border-radius: 2px;
  outline: 2px solid #000000;
  outline-offset: -1px;
}

.navigation-link:hover {
  color: #C5C5C5;
  background-color: #32425C;
}

.navigation-link:active {
  background-color: #32425C;
  color: #FFFFFF;
  text-shadow: 0 0 .65px #ffffff, 0 0 .65px #ffffff;
}

.navigation-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 280px;
  padding: 12px 0 16px 0;
  margin-left: auto;
}

.navigation-item-select {
  width: 18px;
  padding: 10px 6px 9px;
  margin-right: 18px;
}

.navigation-link-select {
  outline: none;
}

.navigation-item-select:focus {
  outline: 2px solid #000000;
  border-radius: 2px;
}

.navigation-button-select { 
  display: block;
  font-family: PT Sans, sans-serif;
  font-weight: 700;
  font-size: 14px; 
  line-height: 18px;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-decoration: none;  
  text-transform: uppercase;
  width: 149px;
  padding: 12px 10px;
  background-color: #63A63E;
  border-radius: 4px;
}

.navigation-button-select:hover {
  background-color: #5FBB2D;
}

.navigation-button-select:active {
  background-color: #518534;
}

.navigation-button-select:focus {
  outline: 2px solid #000000;
  outline-offset: 1px;
}

/* ------offers------ */

.offer-title {
  font-weight: 700;
  font-size: 24px; 
  line-height: 30px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0 0 57px 0;
  width: 180px;
}

.offer-addition {
  position: relative;
  font-weight: 700;
  font-size: 14px; 
  line-height: 18px;
  color: #FFFFFF;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  width: 146px;
  padding: 12px 1px 10px 33px;
  border: 1px solid #FFFFFF;
}

.offer-addition::before {
  position: absolute;
  content: url("../images/icones/arrow-right.svg");
  left: 12px;
  top: 12px;
}

.offer-addition:focus {
  outline: 2px solid #000000;
  border-radius: 2px;
}

.offer-item {
  position: relative;
  background-color: #FFBF47;
  padding: 20px 164px 33px 25px;
  margin-bottom: 27px;
  border-radius: 2px;
  overflow: hidden;
}

.offer-item:not(:nth-child(3n)) {
  margin-right: 28px;
}

.offer-item:nth-child(1)::before {
 position: absolute;
 content: url("../images/icones/paint-roller.svg");
 top: 47px;
 right: 38px;
}

.offer-item:nth-child(2)::before {
  position: absolute;
  content: url("../images/icones/tool.svg");
  top: 47px;
  right: 38px;
}

.offer-item:nth-child(3)::before {
  position: absolute;
  content: url("../images/icones/technic.svg");
  top: 47px;
  right: 38px;
}

.offer-item-other {
  position: relative;
  padding: 20px 164px 33px 25px;
  margin-bottom: 27px;
}

.offer-item-other:nth-child(1)::before {
  position: absolute;
  content: url("../images/icones/discount.svg");
  top: 47px;
  right: 38px;
}

.offer-item-other:nth-child(2)::before {
  position: absolute;
  content: url("../images/icones/truck.svg");
  top: 47px;
  right: 38px;
}

.offer-item-yellow {
  background-color: #FFBF47;
}

.offer-item-blue {
  background-color: #3BBCE3;
}

.offer-item-purple {
  background-color: #DC91D8;
}

.offer-item-green {
  background-color: #8ED78F;
}

.offers-list {
  display: flex;
  flex-wrap: wrap;
}

.offers-list-gallery {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.gallery-wrapper {
  display: flex;
  margin-bottom: 23px;
}

.gallery-image {
  display: block;
  background-color: #808080;
}

.gallery-hidden {
  display: none;
}

.gallery-open {
  display: block;
}

.gallery-list {
  position: relative;
}

.gallery-title {
  position: absolute;
  font-family: Fira Sans, sans-serif;
  font-weight: 700;
  font-size: 36px; 
  line-height: 42px;
  color: #FFFFFF;
  text-transform: uppercase;
  top: 52px;
  left: 51px;
  margin: 0;
}

.gallery-addition {
  position: absolute;
  font-weight: 700;
  font-size: 18px; 
  color: #FFFFFF;
  margin: 0;
  top:105px;
  left: 51px;
}

.gallery-button {
  position: absolute;
  font-family: PT Sans, sans-serif;
  font-weight: 700;
  font-size: 14px; 
  line-height: 18px;
  color: #FFFFFF;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background: #EE3643;
  width: 184px;
  padding: 13px 6px 14px 5px;
  top: 297px;
  left: 51px;
  border-radius: 4px;
}

.gallery-button:hover {
  background-color: #CA2C37;
}

.gallery-button:active {
  background-color: #BA2732;
}

.slider-button {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: #293449;
  opacity: 60%;
  border-radius: 50%;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.slider-control {
  position: absolute;
  display: flex;
  width: 733px;
  justify-content: space-between;
  top: 173px;
  left: 19px;
}

.slider-image-next {
  transform: rotate(180deg);
}

.gallery-pagination {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 10px);
  column-gap: 8px;
  top: 344px;
  left: 366px;
}

.gallery-pagination-button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FFD180;
  padding: 0;
  border: 0;
}

.gallery-pagination-button-current {
  background: #FFFFFF;
}

/* ------catalog------ */

.catalog-title {
  font-family: Fira Sans, sans-serif;
  font-weight: 700;
  font-size: 36px; 
  line-height: 42px;
  color: #293449;
  text-transform: uppercase;
  margin: 0 0 25px 0;
}

.sorting-wrapper {
  display: flex;
}

.range-price,
.catalog-filter-title {
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
}

.catalog-filter-title {
  margin-bottom: 16px;
}

.range-price {
  margin-bottom: 7px;
}

.control {
  position: relative;
  font-family: PT Sans, sans-serif;
  font-weight: 400;
  font-size: 14px; 
  line-height: 18px;
  color: #000000;
  padding-left: 35px;
}

.catalog-filter-price,
.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.range-container {
  display: flex;
  width: 220px;
  height: 40px;
  background-color: #F7F3EC;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;
  box-sizing: border-box;
}

.range-scale {
  position: relative;
  width: 180px;
  height: 2px;
  background-color: #3D566F;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #5FBB2D;
  left: 0;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 2px solid #3D546F;
  padding: 0;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #518534;
}

.range-toggle:active {
  background-color: #5FBB2D;
}

.toggle-min {
  left: 0;
  top: -8px;
}

.toggle-max {
  right: 0;
  top: -8px;
}

.container-price {
  position: relative;
  display: flex;
  width: 220px;
  justify-content: space-between;
  margin-bottom: 39px;
}

.range-input {
  font-family: PT Sans, sans-serif;
  font-weight: 400;
  font-size: 14px; 
  line-height: 18px;
  color: #293449;
  text-align: center;
  border: 0;
  padding: 0;
  width: 95px;
  height: 40px;
  background-color: #F7F3EC;
  border-radius: 4px;
}

.container-price::after {
  position: absolute;
  content: " ";
  width: 9px;
  height: 1px;
  background-color: #293449;
  top: 19px;
  left: 106px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input[type="number"] {
  -moz-appearance: textfield;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

.catalog-filter-item:last-child {
  margin-bottom: 34px;
}

.catalog-filter-final:not(:last-child) {
  margin-bottom: 16px;
}

.control-mark {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 2px solid #3D546F;
  border-radius: 4px;
  left: 0;
  top: 0;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  content: " ";
  top: 4px;
  left: 4px;
  width: 9px;
  height: 7px;
  background-image: url("../images/icones/tick.svg");
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  content: " ";
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #3D546F;
  border-radius: 50%;
}

.choice-button {
  font-family: PT Sans, sans-serif;
  font-weight: 700;
  font-size: 14px; 
  line-height: 18px;
  color: #32425C;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 220px;
  padding: 10px 13px;
  border: 2px solid #3D546F;
  border-radius: 2px;
  background-color: transparent;
  margin-top: 45px;
  cursor: pointer;
}

.catalog-wrapper {
  margin-left: 80px;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 270px);
  grid-template-rows: repeat(3, auto);
  gap: 30px 30px;
  margin-bottom: 32px;
}

.catalog-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 216px;
  border: 1px solid #EAEAEA;
  border-radius: 2px;
  background-color: #FFFFFF;
  padding: 27px 27px 25px;
  cursor: pointer;
  overflow: hidden;
}

.select-control {
  font-family: PT Sans, sans-serif;
  font-weight: 400;
  font-size: 16px; 
  line-height: 24px;
  color: #3D546F;
  border: 1px solid #3D546F;
  background-color: #FFFFFF;
  border-radius: 2px;
  width: 280px;
  padding: 8px 50px 7px 15px;
  margin-top: 33px;
  margin-bottom: 33px;
  outline: none;
  appearance: none;
  background-image: url("../images/icones/arrow-select.svg");
  background-repeat: no-repeat;
  background-position: right 12px center;
}

.select-control:hover {
  border: 1px solid #63A63E;
}

.select-control:focus {
  border: 1px solid #63A63E;
  outline: 1px solid #FFBF47;
}

.catalog-description {
  font-weight: 700;
  font-size: 20px; 
  line-height: 26px;
  color: #293449;
  text-align: center;
  margin: 0 0 11px 0;
  width: 210px;
}

.catalog-first-price {
  position: relative;
  font-weight: 700;
  font-size: 14px; 
  line-height: 18px;
  letter-spacing: 2px;
  color: #A9A9A9;
  text-align: center;
  margin: 0 0 11px 0;
}

.catalog-first-price::before {
  position: absolute;
  content: " ";
  width: 63px;
  height: 1px;
  background: #A9A9A9;
  top: 10px;
}

.first-price-hidden {
  visibility: hidden;
}

.catalog-image {
  margin-bottom: 12px;
}

.catalog-card:nth-child(5) img {
  opacity: 10%;
}

.catalog-card:nth-child(5) {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.catalog-card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.catalog-card:hover img {
  opacity: 10%;
}

.button-buy {
  position: absolute;
  display: block;
  width: 135px;
  font-family: PT Sans, sans-serif;
  font-weight: 700;
  font-size: 14px; 
  line-height: 18px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #63A63E;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 11px 24px 11px 41px;
  top: 64px;
  left: 72px;
}

.button-buy::before {
  position: absolute;
  content: url("../images/icones/cart-for-buttonbuy.svg");
  left: 23px;
  top: 12px;
}

.button-buy:hover {
  background-color: #5FBB2D;
}

.button-buy:active {
  background-color: #518534;
}

.button-mark {
  position: absolute;
  display: block;
  width: 135px;
  font-family: PT Sans, sans-serif;
  font-weight: 700;
  font-size: 14px; 
  line-height: 18px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  color: #32425C;
  border-radius: 2px;
  background-color: #FFFFFF;
  border: 2px solid #63A63E;
  cursor: pointer;
  padding: 10px 8px 10px 7px;
  top: 114px;
  left: 72px;
}

.button-mark:hover {
  border: 2px solid #3D546F;
}

.button-mark:active {
  color: #C5C5C5;
  border: 2px solid #C5C5C5;
}

.button-hidden {
  display: none;
}

.catalog-card:hover .button-hidden {
  display: block;
}

.catalog-price {
  position: relative;
  font-weight: 700;
  font-size: 14px; 
  line-height: 18px;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-align: center;
  padding: 11px 7px 11px 11px;
  margin: 0 0 0 37px;
  width: 102px;
  background-color: #EE3643;
  border-radius: 4px;
}

.catalog-price::after {
  position: absolute;
  content: " ";
  width: 30px;
  height: 30px;
  background-color: #EE3643;
  position: absolute;
  transform: rotate(45deg);
  left: 102px;
  top: 5px;
  border-radius: 4px;
}

.catalog-price:hover,
.catalog-price:hover::after {
  background-color: #CA2C37;
}

.catalog-price:active,
.catalog-price:active::after {
  background-color: #BA2732;
}

.label-new {
  position: absolute;
  font-weight: 700;
  font-size: 14px; 
  line-height: 18px;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  background-color: #EE3643;
  margin: 0;
  padding: 6px 0;
  width: 100px;
  right: -25px;
  top: 7px;
  transform: rotate(45deg);
  z-index: 1;
}

.label-new-hidden {
  display: none;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 53px;
}

.pagination {
  display: flex;
  margin-right: 17px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-current {
  background-color: #FFFFFF;
}

.pagination-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 45px;
  background-color: #3D546F;
  border-radius: 2px;
  font-weight: 700;
  line-height: 16px;
  color: #FFFFFF;
  text-decoration: none;
}

.pagination-number-current {
  background-color: #FFFFFF;
  color: #3D546F
}

.show-more-button {
  font-family: PT Sans, sans-serif;
  font-weight: 700;
  font-size: 14px; 
  line-height: 18px;
  color: #FFFFFF;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 195px;
  padding: 13px 6px 14px 5px;
  background-color: #EE3643;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.show-more-button:hover {
  background-color: #CA2C37;
}

.show-more-button:active {
  background-color: #BA2732;
}

/* ------service------ */

.service {
  background: #F1F5F7;
  padding: 52px 115px;
  margin-bottom: 53px;
}

.service-title {
  font-family: Fira Sans, sans-serif;
  font-weight: 700;
  font-size: 36px; 
  line-height: 42px;
  color: #293449;
  text-transform: uppercase;
  text-align: center;
  width: 428px;
  margin: 0 373px 28px 370px;
}

.service-description {
  font-weight: 400;
  font-size: 18px; 
  color: #293449;
  width: 556px;
  margin: 0 304px 65px 310px;
}

.servises-list {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  gap: 10px 30px;
}

.service-item {
 position: relative;
 padding: 167px 42px 43px 26px;
 background-color: #FFFFFF; 
 border-radius: 2px;
 box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.service-item-title {
  font-weight: 700;
  font-size: 24px; 
  line-height: 30px;
  color: #32425C;
  text-transform: uppercase;
  margin: 0 0 21px 0;
}

.service-item-description {
  font-weight: 400;
  margin: 0;
}

.service-item:nth-child(1)::before {
  position: absolute;
  content: url("../images/icones/service-delivery.svg");
  top: 31px;
  left: 24px;
}

.service-item:nth-child(2)::before {
  position: absolute;
  content: url("../images/icones/service-guarantee.svg");
  top: 31px;
  left: 24px;
}

.service-item:nth-child(3)::before {
  position: absolute;
  content: url("../images/icones/service-paints.svg");
  top: 31px;
  left: 24px;
}

.about-shop-wrapper {
  display: flex;
  margin-bottom: 45px;
}

.about-shop {
  width: 489px;
  padding-right: 60px;
}

.title,
.contacts-title {
  font-family: Fira Sans, sans-serif;
  font-weight: 700;
  font-size: 36px; 
  line-height: 42px;
  color: #293449;
  text-transform: uppercase;
  margin: 0 0 23px 0;
}

.shop-description-first,
.shop-description-second,
.contacts-description {
  font-weight: 400;
  color: #293449;
  margin: 0;
}

.shop-description-first {
  margin-bottom: 26px;
}

.shop-description-second {
  margin-bottom: 51px;
}

.contacts-description {
  margin: 0 0 28px 0;
}

.button-about {
  display: block;
  font-family: PT Sans, sans-serif;
  font-weight: 700;
  font-size: 14px; 
  line-height: 18px;
  color: #FFFFFF;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  width: 184px;
  padding: 13px 6px 14px 5px;
  background-color: #EE3643;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-about:hover {
  background-color: #CA2C37;
}

.button-about:active {
  background-color: #BA2732;
}

.contacts {
  width: 500px;
  margin-left: auto;
}

.map-link {
  outline: none;
}

/* ------footer------ */

.footer-wrapper {
  display: flex;
  background-color: #3D546F;
  padding: 0 115px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.footer-logo-link {
  margin-bottom: 15px;
  outline: none;
}

.footer-office-address,
.footer-office-phone {
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  color: #F3F7F9;
}

.footer-office-phone:focus {
  outline: 2px solid #000000;
  border-radius: 2px;
}

.footer-office-address {
  margin: 0;
}

.social-link {
  margin-top: 24px;
}

.social-list {
  display: grid;
  grid-template-columns: repeat(3, 36px);
  column-gap: 17px;
}

.first-image-part {
  fill: #FFFFFF;
  opacity: 10%;
}

.social-button:hover .first-image-part {
  fill: #293449;
  opacity: 1;
}

.social-button:focus {
  outline: none;
}

.social-item:focus {
  outline: 2px solid #000000;
  border-radius: 2px;
}

.feedback {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  align-items: flex-end;
  width: 300px;
  padding-top: 29px;
  padding-bottom: 43px;
}

.feedback-title,
.feedback-offer {
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  margin: 0;
}

.feedback-link {
  font-weight: 400;
  color: #FFD180;
  text-decoration: none;
  margin-bottom: 29px;
}

.feedback-link:hover {
  color: #FFBF47;
}

.feedback-link:focus {
  outline: 2px solid #000000;
  border-radius: 2px;
}

.subscribe-form {
  display: flex;
  width: 260px;
}

.field {
  display: block;
  font-family: PT Sans, sans-serif;
  font-weight: 400;
  font-size: 14px; 
  line-height: 18px;
  width: 220px;
  padding: 10px 16px 11px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #FFFFFF;
  border: 1px solid #63A63E;
 box-sizing: border-box;
}

.field::-webkit-input-placeholder {
  color: #BDBDBD;
}

.newsletter-button {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #63A63E;
  border: none;
  cursor: pointer;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

.newsletter-button:hover {
  background-color: #5FBB2D;
}

.newsletter-button:active {
  background-color: #518534;
}

.footer-footer {
  display: flex;
  background-color: #293449;
  padding: 20px 115px 22px;
}

.company {
  font-weight: 400;
  font-size: 14px; 
  line-height: 18px;
  color: #FFFFFF;
  margin: 0;
  width: 500px;
}

.html-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 300px;
  margin-left: auto;
}

.html-description {
  font-weight: 400;
  font-size: 14px; 
  line-height: 18px;
  color: #FFFFFF;
  margin: 0;
}

.html-text-link {
  font-weight: 400;
  font-size: 14px; 
  line-height: 18px;
  text-decoration: none;
  color: #FFD180;
}

.html-text-link:hover {
  color: #FFBF47;
}



